/*Font that will be used through the whole website*/
* {
      font-family: 'Montserrat', serif;

    }

/*Body colour that will be used through the whole wesbite*/
body {
  /*Setting the background colour used for the page*/
  background-color: #FCEAD1;
}

/*Colour Scheme that is used throughout the website,
commented out as only for reference

  - GREEN: #69DC9E
  - CREAM: #FCEAD1
  - OFF WHITE: #EFF1EA
  - ORANGE: #E59F71
  - ORANGE BROWN: #BA5A31
  - BROWN: #723215
  io
*/

/*Nav bar styling that is used throughout the website*/
nav{
    /*Setting the background colour */
    background-color: #BA5A31;
    /*Adding padding to the nav bar, making it the correct height*/
    padding: 10px;
    /*Adding padding to the nav bar, making it the correct height and width*/
    padding-bottom: 70px;
    /*Setting the minimum width of the navigation bar*/
    min-width: 340px;
}

/*logo formatting that is used for all pages*/
#homelogo {
  /*Setting the background colour */
  background-color:;
  /*Ensuring the logo stays to the left, and correcting height of nav bar*/
  float: left;
  /*Positioning the logo 10px to the right, ie, 10 px away from right margin*/
  margin-left: 10px;
}

  /*Formatting for the tas used throughout our website*/
ul {
    /*Setting any content that overflows an elemts box ot hidden*/
    overflow: hidden;
}

/*Styling ofor the nav bar tabs*/
#tabs{
  /*Setting the background colour for the 'home', 'log in' and 'sign up' tabs*/
  background-color:#BA5A31;
  /*Ensuring the nav bar tabs are floated to the right-most side of the page*/
  float:right;
}

/*'home', 'log in' and 'sign up' link formatting*/
.navbar a {
  /*Ensuring the links are floated to the left - also ensures positioning is correct*/
  float: left;
  /*Setting the font size to 16px*/
  font-size: 16px;
  /*Ensuring the colour of the text is the correct colour, ie, white*/
  color: white;
  /*Ensuring that the text is centre aligned*/
  text-align: center;
  /*Adding padding to the text/links, ensuring they are positioned correctly*/
  padding: 20px 15px;
  /*Removing the underline underneath the links*/
  text-decoration: none;
}

/*Nav Bar Hover*/
.navbar a:hover, .dropdown:hover .dropbtn {
  /*Setting the background colour for the hover function*/
  background-color: #E59F71;
}

/*Account title container formatting*/
#account {
  /*Setting the background colour of the title container*/
  background-color: #BA5A31;
  /*Setting the hight of the container*/
  height: 50px;
  /*Setting the position of the container to 100 pixels from the top*/
  margin-top: 100px;
  /*Setting the container to start 25% into the page, ie, centered*/
  margin-left: 25%;
  /*Setting the container to end 25% into the page, ie, centered*/
  margin-right: 25%;
  /*Setting the padding for the container to 5 pixels*/
  padding: 5px;
  /*Ensuring the search bar is within its container*/
  display: flex;
  justify-content: center;
  /*This ensures that the content is aligned at the centre of the container*/
  border-radius: 15px;
  /*Padding the container to be larger*/
  padding: 10px;
}

/*Account title formatting*/
#account-title {
  /*Setting the title colour*/
  color: #EFF1EA;
  /*Setting the text to be in the middle of the container*/
  margin: 10px;
  /*Aligning the text to be in the center of the container*/
  text-align: center;
  /*Setting the font size to 25 pixels*/
  font-size:25px;
}

 /*Container formatting for main account page content*/
#account_options {
  /*xPositioning the container 100 pixels from the 'my account' title*/
  padding-top: 100px;
  /*Ensuring the container starts 10 percent into the page from the left*/
  padding-left: 10%;
  /*Ensuring the container starts 10 percent into the page from the right*/
  padding-right: 10%;
}

 /*Container formatting for main account page content*/
.grid-container {
  /*Displaying the contect in a grid*/
  display: grid;
  /*This defines the way the grid template is layed out*/
  grid-template-rows: auto auto auto;
  /*Specifies the gutters between grid rows and columns*/
  grid-gap: 0px;
  /*Setting the colour for the grid*/
  background-color: #69DC9E;
  /*Adding 10 pixels of padding to the container*/
  padding: 10px;
}

/*Formatting for the grid container*/
.grid-container  {
  /*Setting the colour for the grid container*/
  background-color: #EFF1EA
  /*Setting the border colour and border width*/
  border: 2px solid #4db57d;
  /*Setting the border radius to 5 pixels, which rounds the edges*/
  border-radius: 5px;
  /*Aligning the cookie images to the center of the container*/
  text-align: center;
  /*Setting the font size within the container to 25 pixels*/
  font-size: 25px;
}

/*Formatting the text within the container*/
#grid-container_text {
  /*Ensuring the text within the page is positioned correctly*/
  display: grid;
  /*This defines the way the grid template is layed out*/
  grid-template-columns: auto auto auto;
  /*Specifies the gutters between grid rows and columns*/
  grid-gap: 10px;
  /*Setting the colour of the container*/
  background-color: #EFF1EA;
  /*Setting the border radius to 5 pixels, which rounds the edges*/
  border-radius: 5px 5px 0px 0px;
  /*Adding 10 pixels of padding to the container*/
  padding:10px;
}

#grid-container_text > div {
  background-color:;
  text-align: center;
  font-size: 18px;
}

#grid-container_logo {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #EFF1EA;
  padding:10px;
  border-radius: 0px 0px 5px 5px ;

}
#grid-container_logo > div {
  background-color:;

}



/* Footer */

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #BA5A31;
   color: white;
   text-align: center;
   padding: 10px;

}

#footer_content {
  color: #EFF1EA;
  padding: 5px;
  margin: auto;
  text-align: center;
  font-size:18px;
  padding: 10px;
}


#footer_link1 {
  text-align: left;
  color: #EFF1EA;
  font-size:18px;

}

#footer_link2 {
  text-align: right;
  color: #EFF1EA;
  font-size:18px;

}
