
/*Colour Scheme

  - GREEN: #69DC9E
  - CREAM: #FCEAD1
  - OFF WHITE: #EFF1EA
  - ORANGE: #E59F71
  - ORANGE BROWN: #BA5A31
  - BROWN: #723215
*/

/* Account CSS */

/*my account title formatting*/
#account {
  background-color: #BA5A31;
  height: 50px;
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5px;
  display: flex;
  justify-content: center;

  border-radius: 15px;
  padding: 10px;
}


/*my account title formatting*/
#account-title {
  color: #EFF1EA;
  padding: 0px;
  margin: 10px;
  text-align: center;
  font-size:25px;
}



 /*grid formatting*/
#account_options {
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto ;
  grid-gap: 0px;
  background-color: #69DC9E;
  padding: 10px;
}

.grid-container  {
  background-color: #E59F71
  border: 2px solid #4db57d;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
}


#grid-container_text {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #EFF1EA;
  border-radius: 5px 5px 0px 0px;
  padding:10px;

}

#grid-container_text > div {
  background-color:;
  text-align: center;
  font-size: 18px;
}

#grid-container_logo {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #EFF1EA;
  padding:10px;
  border-radius: 0px 0px 5px 5px ;

}
#grid-container_logo > div {
  background-color:;

}

#grid-container_text div a {
  color: black;
  text-decoration: none;
}
