/*Font that will be used through the whole website*/
* {
      font-family: 'Montserrat', serif;

    }
/*Body colour that will be used through the whole wesbite*/
body {
  /*Setting the background colour used for the page*/
  background-color: #FCEAD1;
}

/*Colour Scheme that is used throughout the website,
commented out as only for reference

  - GREEN: #69DC9E
  - CREAM: #FCEAD1
  - OFF WHITE: #EFF1EA
  - ORANGE: #E59F71
  - ORANGE BROWN: #BA5A31
  - BROWN: #723215
  io
*/

/*Nav bar styling that is used throughout the website*/
nav{
  /*Setting the background colour */
  background-color: #BA5A31;
  /*Adding padding to the nav bar, making it the correct height*/
  padding: 10px;
  /*Adding padding to the nav bar, making it the correct height and width*/
  padding-bottom: 70px;
  /*Setting the minimum width of the navigation bar*/
  min-width: 250px;

}

/*logo formatting that is used for all pages*/
#homelogo {

  /*logo formatting that is used for all pages*/
  background-color:;
  /*Ensuring the logo stays to the left, and correcting height of nav bar*/
  float: left;
  /*Positioning the logo 10px to the right, ie, 10px away from right margin*/
  margin-left: 10px;
}

/*Formatting for the tabs used throughout our website*/
ul {
  /*Unsure as to what this does, will remove at end*/
  list-style-type: none;
  /*Setting any content that overflows an elements box to hidden*/
  overflow: hidden;
}

/*Styling for the nav bar tabs*/
#tabs{
  /*Setting the background colour for the 'home', 'log in' and 'sign up' tabs*/
  background-color:#BA5A31 ;
  /*Ensuring the nav bar tabs are floated to the right-most side of the page*/
  float:right;
}

/*TO BE DELETED AT END*/
#navbutton:hover {
    background-color: #E59F71;
}

/*TO BE DELETED AT END*/
.active {
    background-color: #E59F71;
}

/*Dropdown Menu*/

/*TO BE DELETED AT END*/
/*Navbar container*/
.navbar {
  overflow: hidden;
  background-color: #E59F71;
  float: right;
}

/*'home', 'log in' and 'sign up' link formatting*/
.navbar a {
  /*Ensuring the links are floated to the left - also ensures positioning is correct*/
  float: left;
  /*Setting the font size to 16px*/
  font-size: 16px;
  /*Ensuring the colour of the text is the correct colour, ie, white*/
  color: white;
  /*Ensuring that the text is centre aligned*/
  text-align: center;
  /*Adding padding to the text/links, ensuring they are positioned correctly*/
  padding: 20px 15px;
  /*Removing the underline underneath the links*/
  text-decoration: none;
}

/* Nav bar hover */
.navbar a:hover{
  /*Setting the background colour for the hover function*/
  background-color: #E59F71;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=password], input[type=email] {
    /*Setting the width for the log in input fields*/
    width: 100%;
    /*Padding the input fields to be the correct width and height*/
    padding: 12px 20px;
    /*Setting the margin to 8px*/
    margin: 8px 0;
    /*CODE TO BE DELETED AT END*/
    display: inline-block;
    /*Setting the border to 1px solid*/
    border: 1px solid #ccc;
    /*Ensuring there is a border to surround the input fields*/
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.psw a{
  width: auto;
  padding: 10px 18px;
  margin: -9px 15px;
  background-color: #f44336;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 8px 15px;
    background-color: #f44336;
}

.log-container, .sign-container, .forgotpass-container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 500px; /* Could be more or less, depending on screen size */
}


/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/*Searchbar*/

#search {
  background-color: #BA5A31;
  height: 50px;
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 100px;
  padding: 5px;
  display: flex;
  justify-content: center;

  border-radius: 15px;
  padding: 10px;
}
@media screen and (max-width:500px) {
  #search{
    margin: 5px 0px 5px 0px;
  }
    #homelogo{
      display: none;
    }
}

#searchbutton{
  background-color: #BA5A31;
  margin-right: 5px;

  border-radius: 5px;

}

#searchbar{
  background-color: #EFF1EA;
  padding: 0px;
  width: 100%;
  text-align: left;
  font-size:25px;

  border-radius: 5px;
  padding: 5px;
}


/*MAINBODY*/

#mainbody{
  /*background-color: yellow;*/
  /*margin-top: 100px;*/
  margin 25%;
  padding: 0px 10% 0px 10%;
}

/*COOKIE JAR CSS*//*
section.cookiejar{
  width: 59%
}
aside{
  width: 38%;
  float: right;
}*/
.cookiejar{
  float: left;
  margin: auto;
  margin-bottom: 10px;
  padding: 0px;
  border: 0px;
}

.cookiejar:hover{
  opacity: 0.7;
}

.lid{
  background-color: #69DC9E;
  margin: 0px 30px;
  padding: 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: 5px 0px 5px 0px;
  border-color: #4db57d;
  border-top-color: #7af4b2;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.5);

}



.container {
  position: relative;
  float: left;
  padding: 0px;
  text-align: center;
  background-color: black;
  border-radius: 30px 30px 15px 15px;
  overflow: hidden;
  border-style: solid;
  border-width: 5px;
  border-color: #EFF1EA;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.5);
}
.cookieimg{
  display: flex;
  float: left;
  width:33%;


}
.label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10% 5%;
    width: 50%;
    /*padding top: 40%;*/
    background-color: #EFF1EA;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #69DC9E;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

#C2 .label {
  top:33.33%
}

#C1{
  width: 68.5%;
  float: left;
}
#C2{
  width: 30.5%;
  float: right;
}
#C3{
  width: 100%;
  float: left;
}
#C2 .cookieimg {
  width:50%; /* The width is 100%, when the viewport is 800px or smaller */
}



@media screen and (max-width:1200px) {
  #C1{
    width: 65%;
  }
  #C2{
    width: 33.5%;
  }
  #C3{
    width: 65%;
  }

  #C1 .cookieimg {
    width:50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C3 .cookieimg {
    width:50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C2 .cookieimg {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .label {
    top: 33.33%;
  }
  #C2 .label {
    top: 15.5%;
    padding: 10% 25%;
  }
  #mainbody{
    padding: 0px 5% 0px 5%;
  }
}
@media screen and (max-width:600px) {
  #C1{
    width: 100%;
  }
  #C2{
    width: 100%;
  }
  #C3{
    width: 100%;
  }
  #C1 .cookieimg {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C3 .cookieimg {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C2 .cookieimg {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .label {
    top: 15.5%;
    padding: 10% 25%;
  }
  #mainbody{
    padding: 0px;
  }
  #C1 .cookieimg + #C2 .cookieimg + #C3 .cookieimg{
    width:100; /* The width is 100%, when the viewport is 800px or smaller */
  }
}





  #mainbody{
    margin-left: 0px;
    margin-right: 0px;
  }
}


/* Foooter */

#footer {
  background-color: #BA5A31;
  height: 30px;
  margin-top: 100px;

  padding: 5px;
  display: flex;
  justify-content: center;
}

#footer-content {
  color: #EFF1EA;
  padding: 5px;
  margin: auto;
  text-align: center;
  font-size:18px;
}
