/*Font that will be used through the whole website*/
* {
      font-family: 'Montserrat', serif;
    }

/*Body colour that will be used through the whole wesbite*/
body {
  /*Setting the background colour used for the page*/
  background-color: #FCEAD1;
}

/*Colour Scheme that is used throughout the website,
commented out as only for reference

  - GREEN: #69DC9E
  - CREAM: #FCEAD1
  - OFF WHITE: #EFF1EA
  - ORANGE: #E59F71
  - ORANGE BROWN: #BA5A31
  - BROWN: #723215
  io
*/

/*Nav bar styling that is used throughout the website*/
nav{
  /*Setting the background colour */
  background-color: #BA5A31;
  /*Adding padding to the nav bar, making it the correct height*/
  padding: 10px;
  /*Adding padding to the nav bar, making it the correct height and width*/
  padding-bottom: 70px;
  /*Setting the minimum width of the navigation bar*/
  min-width: 250px;

}

/*logo formatting that is used for all pages*/
#homelogo {

  /*logo formatting that is used for all pages*/
  background-color:;
  /*Ensuring the logo stays to the left, and correcting height of nav bar*/
  float: left;
  /*Positioning the logo 10px to the right, ie, 10px away from right margin*/
  margin-left: 10px;
}

/*Formatting for the tabs used throughout our website*/
ul {
  /*Unsure as to what this does, will remove at end*/
  list-style-type: none;
  /*Setting any content that overflows an elements box to hidden*/
  overflow: hidden;
}

/*Styling for the nav bar tabs*/
#tabs{
  /*Setting the background colour for the 'home', 'log in' and 'sign up' tabs*/
  background-color:#BA5A31 ;
  /*Ensuring the nav bar tabs are floated to the right-most side of the page*/
  float:right;
}

/*TO BE DELETED AT END*/
#navbutton:hover {
    background-color: #E59F71;
}

/*TO BE DELETED AT END*/
.active {
    background-color: #E59F71;
}

/*Dropdown Menu*/

/*TO BE DELETED AT END*/
/*Navbar container*/
.navbar {
  overflow: hidden;
  background-color: #E59F71;
  float: right;
}

/*'home', 'log in' and 'sign up' link formatting*/
.navbar a {
  /*Ensuring the links are floated to the left - also ensures positioning is correct*/
  float: left;
  /*Setting the font size to 16px*/
  font-size: 16px;
  /*Ensuring the colour of the text is the correct colour, ie, white*/
  color: white;
  /*Ensuring that the text is centre aligned*/
  text-align: center;
  /*Adding padding to the text/links, ensuring they are positioned correctly*/
  padding: 20px 15px;
  /*Removing the underline underneath the links*/
  text-decoration: none;
}

/* Nav bar hover */
.navbar a:hover{
  /*Setting the background colour for the hover function*/
  background-color: #E59F71;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=password], input[type=email] {
    /*Setting the width for the log in input fields*/
    width: 100%;
    /*Padding the input fields to be the correct width and height*/
    padding: 12px 20px;
    /*Setting the margin to 8px*/
    margin: 8px 0;
    /*CODE TO BE DELETED AT END*/
    display: inline-block;
    /*Setting the border to 1px solid*/
    border: 1px solid #ccc;
    /*Ensuring there is a border to surround the input fields*/
    box-sizing: border-box;
}

/*TO BE DELETED AT END*/
.psw a{
  width: auto;
  padding: 10px 18px;
  margin: -9px 15px;
  background-color: #f44336;
}

/*TO BE DELTED AT END*/
/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 8px 15px;
    background-color: #f44336;
}

/*Formatting for the login in options*/
.log-container, .sign-container, .forgotpass-container {
    /*Padding the log in input field*/
    padding: 16px;
}

/*TO BE DELETED AT END*/
span.psw {
    float: right;
    padding-top: 16px;
}


/* The Modal (background), ie, the login box */
.modal {
    /*This is hidden by default*/
    display: none;
    /*This ensures it stays in place*/
    position: fixed;
    /*This ensures it sits on top*/
    z-index: 1;
    left: 0;
    top: 0;
    /*This ensures the width is set to full*/
    width: 100%;
    /*This ensures the height is set to full*/
    height: 100%;
    /*The enables the box to become scrollable if required*/
    overflow: auto;
    /*This is the required 'fallback' colour that can be used*/
    background-color: rgb(0,0,0);
    /*This is the same colour that could be used, but with opacity*/
    background-color: rgba(0,0,0,0.4);
    /*This sets the top padding to 60px*/
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    /*Setting the background colour for the log in box*/
    background-color: #fefefe;
    /*Setting the margin 5% from the top, and 15% from the bottom and centered */
    margin: 5% auto 15% auto;
    /*Setting the border to 1 pixel width, being solid*/
    border: 1px solid #888;
    /*Setting the width to 500 pixels. Could be more or less, depending on screen size */
    width: 500px;
}

/*UNSURE WHAT ALL THIS SECTION DOES - ASK SEBASTIAN (LINE 190-215)*/
/* Adding zoom animation */
.animate {
  /*Setting the zoom animation, with its time*/
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
      /*Ensuring the cancel button is full width*/
       width: 100%;
    }
}

/*UNSURE IF THIS DOES ANYTHING - CHECK WITH SEBI*/
/*Searchbar*/
#search {
  /*Setting the background colour*/
  background-color: #BA5A31;
  /*Setting the height of the search bar*/
  height: 50px;
  /*Setting the position of the search bar to 100 pixels from the top of the screen*/
  margin-top: 100px;
  /*Setting the position of the search bar 25% from the left*/
  margin-left: 25%;
  /*Setting the position of the search bar 25% from the right*/
  margin-right: 25%;
  /*Setting the position of the search bar 100 pixels from the bottom of the section*/
  margin-bottom: 100px;
  /*Adding 5 pixels of padding*/
  padding: 5px;
  /*Ensuring the search bar is within its container*/
  display: flex;
  /*This ensures that the content is aligned at the centre of the container*/
  justify-content: center;
  /*This allows the container to be more rounded at the edge, rather than cornered*/
  border-radius: 15px;
  /*Padding the container to be larger*/
  padding: 10px;
}

/*Condition for the screen size*/
@media screen and (max-width:500px) {
  #search{
    /*Setting the margins for the when the max width is 500px*/
    margin: 5px 0px 5px 0px;
  }
  /*DELETE AT THE END*/
    #homelogo{
      display: none;
    }
}

/*Formatting for the search button*/
#searchbutton{
  /*Setting the colour for the sarch button*/
  background-color: #BA5A31;
  /*Positioning the search bar 5 pixels from the search button*/
  margin-right: 5px;
  /*Setting the border radius to 5 pixels*/
  border-radius: 5px;
}

/*Formatting for the search bar*/
#searchbar{
  /*Adding a colour for the search bar*/
  background-color: #EFF1EA;
  /*Setting the width of the search bar to 100%*/
  width: 100%;
  /*Ensuring that the text is aligned to the left*/
  text-align: left;
  /*Setting the font size to 25 pixels*/
  font-size:25px;
  /*Setting the border radius to 5 pixels*/
  border-radius: 5px;
  /*Setting the padding to 5 pixels - moves the 'search' text 5 pixels to the left*/
  padding: 5px;
}

/*MAINBODY*/

/*Formatting for the main body section of the website*/
#mainbody{
  /*Setting the margins to 25%*/
  margin 25%;
  /*Adding padding to the jars - ie so the jars don't fit to the entire page*/
  padding: 0px 10% 0px 10%;
}

/*Formatting for the cookie jars*/
.cookiejar{
  /*Ensuring that they float to the left*/
  float: left;
  /*The margin is used to create space around the elements*/
  margin: auto;
  /*Creating some margin space of 10 pixels around the bottom of the jars*/
  margin-bottom: 10px;
}

/*Setting the opacity for jars when they are hovered over*/
.cookiejar:hover{
  opacity: 0.7;
}

/*Formatting for the jar lids*/
.lid{
  /*Setting the colour for the lids*/
  background-color: #69DC9E;
  /*Setting the margins for the jar*/
  margin: 0px 30px;
  /*Padding the jar lids, so that they are the right height, ie 20 pixels*/
  padding: 20px;
  /*Setting the border radius to 5 pixels*/
  border-radius: 5px;
  /*Setting the border to solid, so that it is visble and distinct*/
  border-style: solid;
  /*Positioning for the border, and setting it's width*/
  border-width: 5px 0px 5px 0px;
  /*Setting the colour for the border*/
  border-color: #4db57d;
  /*Setting the top of the cookie jar to a slightly lighter colour from the rest of the jar*/
  border-top-color: #7af4b2;
  /*Creating the shaddow for the cookie jar, and setting its colour*/
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.5);
  /*Setting the margins*/
  margin: 0px 30px;  margin: 0px 30px;

}

/*Containers for text on top of cookie jars*/
.container {
  /*Positioning the containers on top of the jars*/
  position: relative;
  /*Ensuring that the containers have floated to the left*/
  float: left;
  /*Aligning text to the centre of each container*/
  text-align: center;
  /*Setting the background colour to black*/
  background-color: black;
  /*Creating the border for the container*/
  border-radius: 30px 30px 15px 15px;
  /*Setting any content that overflows an elements box to hidden*/
  overflow: hidden;
  /*Setting the border style to solid*/
  border-style: solid;
  /*Setting the width of the border to 5 pixels*/
  border-width: 5px;
  /*Setting the colour of the border to white*/
  border-color: #EFF1EA;
  /*Setting up the border properties*/
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.5);
}

/*Settings for the cookie images - WILL NEED REPLACED AT THE END*/
.cookieimg{
  /*Ensures that the images are the same size/length */
  display: flex;
  /*Ensures that the images float to the left;*/
  float: left;
  /*Allows there to be three images per row within the container*/
  width:33%;
}

/*Formatting for the labels within the containers of the cookie jars*/
.label {
  /*Ensures that the laels are positioned correctly, ie in the centre of the jar*/
  position: absolute;
  /*Positioning the labels half way into the cookie jar, ie centered*/
  left: 50%;
  /*Positioning the labels half way down the cookie jar, ie centered*/
  top: 50%;
  /*Positioning the labels correctly within the container*/
  transform: translate(-50%, -50%);
  /*Padding the label, ie making the correct size*/
  padding: 10% 5%;
  /*Setting the width of the label*/
  width: 50%;
  /*Setting the colour of the white*/
  background-color: #EFF1EA;
  /*Adding rounded borders to the  laels*/
  border-radius: 10px;
  /*Setting the border style to solid*/
  border-style: solid;
  /*Setting the border width to 5 pixels*/
  border-width: 5px;
  /*Setting the border colour*/
  border-color: #69DC9E;
  /*Setting up the border properties*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

/*Formatting the second label*/
#C2 .label {
  /*Positioning the label within the top 33.33% of the container*/
  top:33.33%
}

/*Container one formatting*/
#C1{
  /*Setting the width for the first cookie jar*/
  width: 68.5%;
  /*Floating the cookie jar container to the left*/
  float: left;
}

/*Container two formatting*/
#C2{
  /*Setting the width for the second cookie jar*/
  width: 30.5%;
  /*Floating the cookie jar container to the right*/
  float: right;
}

/*Container three formatiing*/
#C3{
  /*Setting the width for the third cookie jar*/
  width: 100%;
  /*Floating the cookie jar to the left*/
  float: left;
}

/*Formatting the second cookie jars images*/
#C2 .cookieimg {
  /* The width is 50%, when the viewport is 800px or smaller */
  width:50%;
}

/*For screens that have a maximum width of 1,200 pixels or less, do the following:*/
@media screen and (max-width:1200px) {
  /*For the first cookie jar container:*/
  #C1{
    /*Setting the width to 65%*/
    width: 65%;
  }
  /*For the second cookie jar container:*/
  #C2{
    /*Setting the width to 33.5%*/
    width: 33.5%;
  }
  /*For the first cookie jar container:*/
  #C3{
    /*Setting the width to 65%*/
    width: 65%;
  }

  /*Formatting for the first cookie jars images*/
  #C1 .cookieimg {
    /* The width is 50%, when the viewport is 800px or smaller */
    width:50%;
  }
  /*Formatting for the third cookie jars images*/
  #C3 .cookieimg {
    /* The width is 50%, when the viewport is 800px or smaller */
    width:50%;
  }
  /*Formatting for the second cookie jars images*/
  #C2 .cookieimg {
    /* The width is 100%, when the viewport is 800px or smaller */
    width: 100%;
  }

  /*Label formatting*/
  .label {
    /*Setting the label to the top 33.33% of the container*/
    top: 33.33%;
  }
  /*Container twos formatting*/
  #C2 .label {
    /*Setting the label to the top 15.5*/
    top: 15.5%;
    /*Padding the label*/
    padding: 10% 25%;
  }

/*TO BE DELETED AT THE END*/
  #mainbody{
    padding: 0px 5% 0px 5%;
  }
}

/*For screens that have a maximum width of 600 pixels or less, do the following:*/
@media screen and (max-width:600px) {
  /*For the first cookie jar container:*/
  #C1{
    /*Setting the width to 100%*/
    width: 100%;
  }
  /*For the second cookie jar container:*/
  #C2{
    /*Setting the width to 100%*/
    width: 100%;
  }
  /*For the third cookie jar container:*/
  #C3{
    /*Setting the width too 100%*/
    width: 100%;
  }
  /*Formatting for the first cookie jars images*/
  #C1 .cookieimg {
    /* The width is 100%, when the viewport is 800px or smaller */
    width:100%;
  }
  /*Formatting for the third cookie jars images*/
  #C3 .cookieimg {
    /* The width is 100%, when the viewport is 800px or smaller */
    width:100%;
  }
  /*Formatting for the second cookie jars images*/
  #C2 .cookieimg {
    /* The width is 100%, when the viewport is 800px or smaller */
    width: 100%;
  }

/*Label formatting*/
.label {
  /*Setting the label to the top 15.5*/
  top: 15.5%;
  /*Padding the label*/
  padding: 10% 25%;
}

  /*TO BE DELETED AT THE END */
  #mainbody{
    padding: 0px;
  }

/*Formatting for the containers plus images*/
#C1 .cookieimg + #C2 .cookieimg + #C3 .cookieimg {
  /*Setting the width to 100%*/
  width:100;
  }
}
}

/* Formatting for the footer */
#footer {
  /*Setting the colour*/
  background-color: #BA5A31;
  /*Setting the height fot the footer*/
  height: 30px;
  /*Setting the top margin value to 100 pixels*/
  margin-top: 100px;
  /*Setting the padding for the footer to 5 pixels*/
  padding: 5px;
  /*Letting the footer be the same length, no matter its contents*/
  display: flex;
  /*Aligning the contents of the footer to the center*/
  justify-content: center;
}

/*Formatting the content of the footer*/
#footer-content {
  /*Setting the colour for the content*/
  color: #EFF1EA;
  /*Padding the footer*/
  padding: 5px;
  /*Setting the margin to automatic*/
  margin: auto;
  /*Aligning the contents of the footer to the center*/
  text-align: center;
  /*Setting the font size of the text to 18px*/
  font-size:18px;
}
