<<<<<<< HEAD
=======
/*Font that will be used through the whole website*/
* {
      font-family: 'Montserrat', serif;

    }
/*Body colour that will be used through the whole wesbite*/
body {
  /*Setting the background colour used for the page*/
  background-color: #FCEAD1;
}

/*Colour Scheme that is used throughout the website,
commented out as only for reference

  - GREEN: #69DC9E
  - CREAM: #FCEAD1
  - OFF WHITE: #EFF1EA
  - ORANGE: #E59F71
  - ORANGE BROWN: #BA5A31
  - BROWN: #723215
  io
*/

/*Nav bar styling that is used throughout the website*/
nav{
  /*Setting the background colour */
  background-color: #BA5A31;
  /*Adding padding to the nav bar, making it the correct height*/
  padding: 10px;
  /*Adding padding to the nav bar, making it the correct height and width*/
  padding-bottom: 70px;
  /*Setting the minimum width of the navigation bar*/
  min-width: 250px;

}

/*logo formatting that is used for all pages*/
#homelogo {

  /*logo formatting that is used for all pages*/
  background-color:;
  /*Ensuring the logo stays to the left, and correcting height of nav bar*/
  float: left;
  /*Positioning the logo 10px to the right, ie, 10px away from right margin*/
  margin-left: 10px;
}

/*Formatting for the tabs used throughout our website*/
ul {
  /*Unsure as to what this does, will remove at end*/
  list-style-type: none;
  /*Setting any content that overflows an elements box to hidden*/
  overflow: hidden;
}

/*Styling for the nav bar tabs*/
#tabs{
  /*Setting the background colour for the 'home', 'log in' and 'sign up' tabs*/
  background-color:#BA5A31 ;
  /*Ensuring the nav bar tabs are floated to the right-most side of the page*/
  float:right;
}

/*TO BE DELETED AT END*/
#navbutton:hover {
    background-color: #E59F71;
}

/*TO BE DELETED AT END*/
.active {
    background-color: #E59F71;
}

/*Dropdown Menu*/

/*TO BE DELETED AT END*/
/*Navbar container*/
.navbar {
  overflow: hidden;
  background-color: #E59F71;
  float: right;
}

/*'home', 'log in' and 'sign up' link formatting*/
.navbar a {
  /*Ensuring the links are floated to the left - also ensures positioning is correct*/
  float: left;
  /*Setting the font size to 16px*/
  font-size: 16px;
  /*Ensuring the colour of the text is the correct colour, ie, white*/
  color: white;
  /*Ensuring that the text is centre aligned*/
  text-align: center;
  /*Adding padding to the text/links, ensuring they are positioned correctly*/
  padding: 20px 15px;
  /*Removing the underline underneath the links*/
  text-decoration: none;
}

/* Nav bar hover */
.navbar a:hover{
  /*Setting the background colour for the hover function*/
  background-color: #E59F71;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=password], input[type=email] {
    /*Setting the width for the log in input fields*/
    width: 100%;
    /*Padding the input fields to be the correct width and height*/
    padding: 12px 20px;
    /*Setting the margin to 8px*/
    margin: 8px 0;
    /*CODE TO BE DELETED AT END*/
    display: inline-block;
    /*Setting the border to 1px solid*/
    border: 1px solid #ccc;
    /*Ensuring there is a border to surround the input fields*/
    box-sizing: border-box;
}

/*TO BE DELETED AT END*/
.psw a{
  width: auto;
  padding: 10px 18px;
  margin: -9px 15px;
  background-color: #f44336;
}

/*TO BE DELTED AT END*/
/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 8px 15px;
    background-color: #f44336;
}

/*Formatting for the login in options*/
.log-container, .sign-container, .forgotpass-container {
    /*Padding the log in input field*/
    padding: 16px;
}

/*TO BE DELETED AT END*/
span.psw {
    float: right;
    padding-top: 16px;
}


/* The Modal (background), ie, the login box */
.modal {
    /*This is hidden by default*/
    display: none;
    /*This ensures it stays in place*/
    position: fixed;
    /*This ensures it sits on top*/
    z-index: 1;
    left: 0;
    top: 0;
    /*This ensures the width is set to full*/
    width: 100%;
    /*This ensures the height is set to full*/
    height: 100%;
    /*The enables the box to become scrollable if required*/
    overflow: auto;
    /*This is the required 'fallback' colour that can be used*/
    background-color: rgb(0,0,0);
    /*This is the same colour that could be used, but with opacity*/
    background-color: rgba(0,0,0,0.4);
    /*This sets the top padding to 60px*/
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    /*Setting the background colour for the log in box*/
    background-color: #fefefe;
    /*Setting the margin 5% from the top, and 15% from the bottom and centered */
    margin: 5% auto 15% auto;
    /*Setting the border to 1 pixel width, being solid*/
    border: 1px solid #888;
    /*Setting the width to 500 pixels. Could be more or less, depending on screen size */
    width: 500px;
}

/*UNSURE WHAT ALL THIS SECTION DOES - ASK SEBASTIAN (LINE 190-215)*/
/* Adding zoom animation */
.animate {
  /*Setting the zoom animation, with its time*/
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
      /*Ensuring the cancel button is full width*/
       width: 100%;
    }
}

/*UNSURE IF THIS DOES ANYTHING - CHECK WITH SEBI*/
/*Searchbar*/
#search {
  /*Setting the background colour*/
  background-color: #BA5A31;
  /*Setting the height of the search bar*/
  height: 50px;
  /*Setting the position of the search bar to 100 pixels from the top of the screen*/
  margin-top: 100px;
  /*Setting the position of the search bar 25% from the left*/
  margin-left: 25%;
  /*Setting the position of the search bar 25% from the right*/
  margin-right: 25%;
  /*Setting the position of the search bar 100 pixels from the bottom of the section*/
  margin-bottom: 100px;
  /*Adding 5 pixels of padding*/
  padding: 5px;
  /*Ensuring the search bar is within its container*/
  display: flex;
  /*This ensures that the content is aligned at the centre of the container*/
  justify-content: center;
  /*This allows the container to be more rounded at the edge, rather than cornered*/
  border-radius: 15px;
  /*Padding the container to be larger*/
  padding: 10px;
}

/*Condition for the screen size*/
@media screen and (max-width:500px) {
  #search{
    /*Setting the margins for the when the max width is 500px*/
    margin: 5px 0px 5px 0px;
  }
  /*DELETE AT THE END*/
    #homelogo{
      display: none;
    }
}

/*Formatting for the search button*/
#searchbutton{
  /*Setting the colour for the sarch button*/
  background-color: #BA5A31;
  /*Positioning the search bar 5 pixels from the search button*/
  margin-right: 5px;
  /*Setting the border radius to 5 pixels*/
  border-radius: 5px;
}

/*Formatting for the search bar*/
#searchbar{
  /*Adding a colour for the search bar*/
  background-color: #EFF1EA;
  /*Setting the width of the search bar to 100%*/
  width: 100%;
  /*Ensuring that the text is aligned to the left*/
  text-align: left;
  /*Setting the font size to 25 pixels*/
  font-size:25px;
  /*Setting the border radius to 5 pixels*/
  border-radius: 5px;
  /*Setting the padding to 5 pixels - moves the 'search' text 5 pixels to the left*/
  padding: 5px;
}

/*MAINBODY*/

/*Formatting for the main body section of the website*/
#mainbody{
  /*Setting the margins to 25%*/
  margin 25%;
  /*Adding padding to the jars - ie so the jars don't fit to the entire page*/
  padding: 0px 10% 0px 10%;
}

/*Formatting for the cookie jars*/
.cookiejar{
  /*Ensuring that they float to the left*/
  float: left;
  /*The margin is used to create space around the elements*/
  margin: auto;
  /*Creating some margin space of 10 pixels around the bottom of the jars*/
  margin-bottom: 10px;
}

.cookiejar:hover{
  opacity: 0.7;
}

.lid{
  background-color: #69DC9E;
  margin: 0px 30px;
  padding: 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: 5px 0px 5px 0px;
  border-color: #4db57d;
  border-top-color: #7af4b2;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.5);

}



.container {
  position: relative;
  float: left;
  padding: 0px;
  text-align: center;
  background-color: black;
  border-radius: 30px 30px 15px 15px;
  overflow: hidden;
  border-style: solid;
  border-width: 5px;
  border-color: #EFF1EA;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.5);
}
.cookieimg{
  display: flex;
  float: left;
  width:33%;


}
.label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10% 5%;
    width: 50%;
    /*padding top: 40%;*/
    background-color: #EFF1EA;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #69DC9E;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

#C2 .label {
  top:33.33%
}

#C1{
  width: 68.5%;
  float: left;
}
#C2{
  width: 30.5%;
  float: right;
}
#C3{
  width: 100%;
  float: left;
}
#C2 .cookieimg {
  width:50%; /* The width is 100%, when the viewport is 800px or smaller */
}



@media screen and (max-width:1200px) {
  #C1{
    width: 65%;
  }
  #C2{
    width: 33.5%;
  }
  #C3{
    width: 65%;
  }

  #C1 .cookieimg {
    width:50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C3 .cookieimg {
    width:50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C2 .cookieimg {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .label {
    top: 33.33%;
  }
  #C2 .label {
    top: 15.5%;
    padding: 10% 25%;
  }
  #mainbody{
    padding: 0px 5% 0px 5%;
  }
}
@media screen and (max-width:600px) {
  #C1{
    width: 100%;
  }
  #C2{
    width: 100%;
  }
  #C3{
    width: 100%;
  }
  #C1 .cookieimg {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C3 .cookieimg {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C2 .cookieimg {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .label {
    top: 15.5%;
    padding: 10% 25%;
  }
  #mainbody{
    padding: 0px;
  }
  #C1 .cookieimg + #C2 .cookieimg + #C3 .cookieimg{
    width:100; /* The width is 100%, when the viewport is 800px or smaller */
  }
}





  #mainbody{
    margin-left: 0px;
    margin-right: 0px;
  }
}


/* Foooter */

#footer {
  background-color: #BA5A31;
  height: 30px;
  margin-top: 100px;

  padding: 5px;
  display: flex;
  justify-content: center;
}

#footer-content {
  color: #EFF1EA;
  padding: 5px;
  margin: auto;
  text-align: center;
  font-size:18px;
}
>>>>>>> 8d40306a00f366afb84d59d70d0b0301019aa842
