/*Colour Scheme

  - GREEN: #69DC9E
  - CREAM: #FCEAD1
  - OFF WHITE: #EFF1EA
  - ORANGE: #E59F71
  - ORANGE BROWN: #BA5A31
  - BROWN: #723215
*/


/*MAINBODY*/

#mainbody{
  /*background-color: yellow;*/
  /*margin-top: 100px;*/
  margin 25%;
  padding: 0px 10% 0px 10%;
}

/*COOKIE JAR CSS*//*
section.cookiejar{
  width: 59%
}
aside{
  width: 38%;
  float: right;
}*/


  #mainbody{
    margin-left: 0px;
    margin-right: 0px;
  }
}
