<div id="footer">
    <a href="my.html"> <h3 class="home">home</h3></a>
    <h3 class="cookie">cookie jar</h3>
    <a href="account.html"> <h3 class="account">account</h3></a>
    <div style="clear: both"></div>
</div>
