<nav>
  <!---putting the logo image on the filter page--->
  <section id="homelogo">
    <a href="my.html" id = "homelogo" name="submit" alt="submit">
    <img src="../images/logo_cookie.png" height="120px" alt="submit" ></a>
  </section>

  <!---nav bar code, with dropdown menu--->
  <div class="navbar">
    <section id = "tabs">
      <a id="navbutton" href="/">home</a>

      <a id="account_page" href="/saved">saved</a>
      <a id="logoutbutton" href="/logout">Logout</a>
  </div>
</nav>
