<nav>
  <!---putting the logo image on the filter page--->
  <section id="homelogo">
    <a href="/" id = "homelogo" name="submit" alt="submit">
    <img src="../images/logo_cookie.png" height="120px" alt="home" ></a>
  </section>

  <!---nav bar code, with dropdown menu--->
  <div class="navbar">
    <section id = "tabs">
      <a id="home" href="/">home</a>
      <a id="saved" href="/saved">saved</a>
      <a id="account" href="/account">account</a>
      <a id="logoutbutton" href="/logout">log out</a>
    </section>
  </div>
</nav>
