/*Nav Bar*/

nav{
    background-color: #3399ff;
    padding: 10px;
    padding-bottom: 70px;
    min-width: 390px;
}

#homelogo {
  background-color: red;
  float: left;
  margin: 0px;
  padding: 0px;
}

ul {
    list-style-type: none;
    overflow: hidden;


}
#tabs{
  background-color: blue;
  float:right;
  margin: 0px;
  padding: 0px;
}

li {
    float: left;
    background-color: purple;
    margin: 5px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #0066cc;
}

.active {
    background-color: #4CAF50;
}

/* Account CSS */

#account {
  background-color: red;
  height: 50px;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;

  padding: 5px;
  display: flex;
  justify-content: center;
}

#account-title {
  padding: 0px;
  margin: 10px;

  text-align: center;
  font-size:25px;

}


/*Searchbar*/

#search {
  background-color: red;
  height: 50px;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;

  padding: 5px;
  display: flex;
  justify-content: center;
}

#searchbutton{
  background-color: green;
  margin-right: 5px;
}

#searchbar{
  background-color: brown;
  padding: 0px;
  width: 100%;

  text-align: left;
  font-size:25px;
}



/*Filter Bar*/

#filter {
  background-color: blue;
  height: 30px;
  margin-top: 5px;
  margin-left: 25%;
  margin-right: 25%;

  padding: 5px;
  display: flex;
  justify-content: center;
}


#filterbar{
  background-color: brown;
  padding: 0px;
  width: 100%;
  text-align: left;
  font-size:25px;
}

/*Dropdown Menu*/

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: green;
    margin-left: 10%;
    margin-right: 10%;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: purple;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Account Dropdown */

.accountDropdown {
  float: right;
  overflow: hidden;
}

.accountDropdown .accountdw {
  float: right;
  position:absolute;
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: green;

  padding-top: 2px;

  padding: 10px;
  padding-bottom: 10px;
  min-width: 300px;

  margin-left: 0%;
  margin-right: 10%;
}

.navbar a:hover, .accountDropdown:hover .accountdw {
    background-color: #0066cc;
}

.accountDropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.accountDropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.accountDropdown-content a:hover {
    background-color: #ddd;
}

.accountDropdown:hover .dropdown-content {
    display: block;
}
