/*Font that will be used through the whole website*/
* {
      font-family: 'Montserrat', serif;

    }
/*Body colour that will be used through the whole wesbite*/
body {
  background-color: #FCEAD1;
}


/*Nav Bar*/
nav{
    background-color: #3399ff;
    padding: 10px;
    padding-bottom: 70px;
    min-width: 390px;
}

/*Home logo colour and positioning */
#homelogo {
  background-color:  #3399ff;
  float: left;
  margin: 0px;
  padding: 0px;
}

ul {
    list-style-type: none;
    overflow: hidden;


}
#tabs{
  background-color: #3399ff;
  float:right;
  margin: 0px;
  padding: 0px;
}

li {
    float: left;
    background-color: purple;
    margin: 5px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #0066cc;
}

.active {
    background-color: #4CAF50;
}

/*Dropdown Menu*/

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  float: right;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .accountbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 20px 15px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Account CSS */

#account {
  background-color: red;
  height: 50px;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;

  padding: 5px;
  display: flex;
  justify-content: center;
}

#account-title {
  padding: 0px;
  margin: 10px;

  text-align: center;
  font-size:25px;

}
