/*Font*/
* {
      font-family: 'Montserrat', serif;

    }

body {
  background-color: #FCEAD1;
}


/*Colour Scheme/*
  - RED: #ED6A5A
  - DARKER RED: #B75245
  - CREAM: #FCEAD1
  - LIGHT BROWN: #8A6552
  - DARK BROWN: #462521
  - LIGHT BLUE: #9BC1BC
  - DARKER BLUE: #80A09C


/*Nav Bar*/

nav{
    background-color: #8A6552;
    padding: 10px;
    padding-bottom: 70px;
    min-width: 390px;

}

#homelogo {
  color: white;
  background-color:#8A6552 ;
  float: left;
  margin: 0px;
  padding: 0px;
}

ul {
    list-style-type: none;
    overflow: hidden;


}
#tabs{
  background-color:#8A6552 ;
  float:right;
  margin: 0px;
  padding: 0px;
}

li {
    float: left;
    background-color: #8A6552;
    margin: 5px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #462521;
}

.active {
    background-color: #462521;
}




/*Searchbar*/

#search {
  background-color: #8A6552;
  height: 50px;
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5px;
  display: flex;
  justify-content: center;

  border-radius: 15px;
  padding: 10px;

}

#searchbutton{
  background-color: #8A6552;
  margin-right: 5px;

  border-radius: 5px;

}

#searchbar{
  background-color: WHITE;
  padding: 0px;
  width: 100%;
  text-align: left;
  font-size:25px;

  border-radius: 5px;
  padding: 5px;
}



/*Filter Bar*/

#filter {
  background-color: #9BC1BC;
  height: 30px;
  margin-top: 5px;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  justify-content: center;

  border-radius: 15px;
  padding: 10px;
}


#filterbar{
  background-color: WHITE;
  padding: 0px;
  width: 100%;
  text-align: left;
  font-size:25px;

  border-radius: 5px;
  padding: 5px;
}

/*Dropdown Menu*/


/* Style The Dropdown Button */
.dropbtn {
    background-color: #80A09C;
    color: white;
    padding: 15px;
    margin-left: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #80A09C


}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 5px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #80A09C;
}
