/*Font that will be used through the whole website*/
* {
      font-family: 'Montserrat', serif;

    }
/*Body colour that will be used through the whole wesbite*/
body {
  background-color: #FCEAD1;
}


nav{
  background-color: #3399ff;
  padding: 10px;
  padding-bottom: 70px;
  /*min-width: 190px;*/
}

#homelogo {
  background-color: red;
  float: left;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
  overflow: hidden;


}
#tabs{
  background-color: blue;
  float:right;
  margin: 0px;
  padding: 0px;
}

li {
  float: left;
  background-color: purple;
  margin: 5px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #0066cc;
}

.active {
  background-color: #4CAF50;
}

/*Dropdown Menu*/

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  float: right;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .accountbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 20px 15px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



#search {
  background-color: red;
  height: 50px;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;

  padding: 5px;
  display: flex;
  justify-content: center;
}

#searchbutton{
  background-color: green;
  margin-right: 5px;
}

#searchbar{
  background-color: brown;
  padding: 0px;
  width: 100%;

  text-align: left;
  font-size:25px;

}

#search{
  margin-left: 0px;
  margin-right: 0px;
}
#mainbody{
  background-color: yellow;
  margin-top: 100px;
  margin 25%;
  padding: 0px 10% 0px 10%;
}

/*COOKIE JAR CSS*//*
section.cookiejar{
  width: 59%
}
aside{
  width: 38%;
  float: right;
}*/
.cookiejar{
  float: left;
  margin: auto;
  margin-bottom: 10px;
  padding: 0px;
  border: 0px;
}

.lid{
  background-color: #69DC9E;
  margin: 0px 20px;
  padding: 10px;
  border-radius: 10px;
}



.container {
  position: relative;
  float: left;
  padding: 0px;
  text-align: center;
  background-color: black;
  border-radius: 50px;
  overflow: hidden;
}
.cookieimg{
  display: flex;
  float: left;
  width:33%;


}
.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10% 5%;
    width: 50%;
    /*padding top: 40%;*/
    background-color: purple;
}

#C1{
  width: 68.5%;
  float: left;
}
#C2{
  width: 30.5%;
  float: right;
}
#C3{
  width: 100%;
  float: left;
}
#C2 .cookieimg {
  width:50%; /* The width is 100%, when the viewport is 800px or smaller */
}



@media screen and (max-width:1200px) {
  #C1{
    width: 65%;
  }
  #C2{
    width: 33.5%;
  }
  #C3{
    width: 65%;
  }

  #C1 .cookieimg {
    width:50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C3 .cookieimg {
    width:50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C2 .cookieimg {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .centered {
    top: 33.33%;
  }
  #C2 .centered {
    top: 15.5%;
    padding: 10% 25%;
  }
  #mainbody{
    padding: 0px 5% 0px 5%;
  }
}
@media screen and (max-width:600px) {
  #C1{
    width: 100%;
  }
  #C2{
    width: 100%;
  }
  #C3{
    width: 100%;
  }
  #C1 .cookieimg {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C3 .cookieimg {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C2 .cookieimg {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .centered {
    top: 15.5%;
    padding: 10% 25%;
  }
  #mainbody{
    padding: 0px;
  }
  #C1 .cookieimg + #C2 .cookieimg + #C3 .cookieimg{
    width:100; /* The width is 100%, when the viewport is 800px or smaller */
  }
}





  #mainbody{
    margin-left: 0px;
    margin-right: 0px;
  }
}



/*
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10%;
    width: 50%;
    padding top: 75%;
    background-color: purple;
}

*/
