
nav{
  background-color: #3399ff;
  padding: 10px;
  padding-bottom: 70px;
  /*min-width: 190px;*/
}

#homelogo {
  background-color: red;
  float: left;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
  overflow: hidden;


}
#tabs{
  background-color: blue;
  float:right;
  margin: 0px;
  padding: 0px;
}

li {
  float: left;
  background-color: purple;
  margin: 5px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #0066cc;
}

.active {
  background-color: #4CAF50;
}





#search {
  background-color: red;
  height: 50px;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;

  padding: 5px;
  display: flex;
  justify-content: center;
}

#searchbutton{
  background-color: green;
  margin-right: 5px;
}

#searchbar{
  background-color: brown;
  padding: 0px;
  width: 100%;

  text-align: left;
  font-size:25px;

}

#search{
  margin-left: 0px;
  margin-right: 0px;
}
#mainbody{
  background-color: yellow;
  margin-top: 100px;
  margin 25%;
  padding: 0px 10% 0px 10%;
}

/*COOKIE JAR CSS*//*
section.cookiejar{
  width: 59%
}
aside{
  width: 38%;
  float: right;
}*/
.cookiejar{
  float: left;
  margin: auto;
  margin-bottom: 10px;
  padding: 0px;
  border: 0px;
}

.lid{
  background-color: #69DC9E;
  margin: 0px 20px;
  padding: 10px;
  border-radius: 10px;
}



.container {
  position: relative;
  float: left;
  padding: 0px;
  text-align: center;
  background-color: black;
  border-radius: 50px;
  overflow: hidden;
}
.cookieimg{
  display: flex;
  float: left;
  width:33%;


}
.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10% 5%;
    width: 50%;
    /*padding top: 40%;*/
    background-color: purple;
}

#C1{
  width: 68.5%;
  float: left;
}
#C2{
  width: 30.5%;
  float: right;
}
#C3{
  width: 100%;
  float: left;
}
#C2 .cookieimg {
  width:50%; /* The width is 100%, when the viewport is 800px or smaller */
}



@media screen and (max-width:1200px) {
  #C1{
    width: 65%;
  }
  #C2{
    width: 33.5%;
  }
  #C3{
    width: 65%;
  }

  #C1 .cookieimg {
    width:50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C3 .cookieimg {
    width:50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C2 .cookieimg {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .centered {
    top: 33.33%;
  }
  #C2 .centered {
    top: 15.5%;
    padding: 10% 25%;
  }
  #mainbody{
    padding: 0px 5% 0px 5%;
  }
}
@media screen and (max-width:600px) {
  #C1{
    width: 100%;
  }
  #C2{
    width: 100%;
  }
  #C3{
    width: 100%;
  }
  #C1 .cookieimg {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C3 .cookieimg {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C2 .cookieimg {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .centered {
    top: 15.5%;
    padding: 10% 25%;
  }
  #mainbody{
    padding: 0px;
  }
  #C1 .cookieimg + #C2 .cookieimg + #C3 .cookieimg{
    width:100; /* The width is 100%, when the viewport is 800px or smaller */
  }
}





  #mainbody{
    margin-left: 0px;
    margin-right: 0px;
  }
}



/*
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10%;
    width: 50%;
    padding top: 75%;
    background-color: purple;
}

*/
