/*Font that will be used through the whole website*/
* {
      font-family: 'Montserrat', serif;

    }
/*Body colour that will be used through the whole wesbite*/
body {
  background-color: #FCEAD1;
}

/*Colour Scheme

  - GREEN: #69DC9E
  - CREAM: #FCEAD1
  - OFF WHITE: #EFF1EA
  - ORANGE: #E59F71
  - ORANGE BROWN: #BA5A31
  - BROWN: #723215
  io
*/

/*Nav Bar*/

nav{
    background-color: #BA5A31;
    padding: 10px;
    padding-bottom: 70px;
    min-width: 340px;

}

#homelogo {
  background-color:;
  float: left;
  margin-left: 10px;
  padding: 0px;
}

ul {
    list-style-type: none;
    overflow: hidden;


}
#tabs{
  background-color:#BA5A31 ;
  float:right;
  margin: 0px;
  padding: 0px;
}

li {
    float: left;
    background-color: #BA5A31;
    margin: 5px;
}

li a {
    display: block;
    color: #EFF1EA;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

#navbutton:hover {
    background-color: #E59F71;
}

.active {
    background-color: #E59F71;
}

/*Dropdown Menu*/

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #E59F71;
  float: right;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .accountbtn {
  border-radius: 0px;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 20px 15px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #E59F71;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 106px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/*Searchbar*/

#search {
  background-color: #BA5A31;
  height: 50px;
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 100px;
  padding: 5px;
  display: flex;
  justify-content: center;

  border-radius: 15px;
  padding: 10px;
}
@media screen and (max-width:600px) {
  #search{
    margin: 5px 0px 5px 0px;
  }
}

#searchbutton{
  background-color: #BA5A31;
  margin-right: 5px;

  border-radius: 5px;

}

#searchbar{
  background-color: #EFF1EA;
  padding: 0px;
  width: 100%;
  text-align: left;
  font-size:25px;

  border-radius: 5px;
  padding: 5px;
}


#saved {
  background-color: #BA5A31;
  height: 50px;
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5px;
  display: flex;
  justify-content: center;

  border-radius: 15px;
  padding: 10px;
}

#saved-title {
  color: #EFF1EA;
  padding: 0px;
  margin: 10px;
  text-align: center;
  font-size:25px;
}

#saved2 {
  background-color: #BA5A31;
  height: 50px;
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5px;
  display: flex;
  justify-content: center;

  border-radius: 15px;
  padding: 5px;
}

/* Footer */

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #BA5A31;
   color: white;
   text-align: center;
   padding: 10px;

}

#footer_content {
  color: #EFF1EA;
  padding: 5px;
  margin: auto;
  text-align: center;
  font-size:18px;
  padding: 10px;
}


#footer_link1 {
  text-align: left;
  color: #EFF1EA;
  font-size:18px;

}

#footer_link2 {
  text-align: right;
  color: #EFF1EA;
  font-size:18px;

}
