
/*Colour Scheme that is used throughout the website,
commented out as only for reference
=======
/*Colour Scheme
>>>>>>> 641abcd985f767d6f22ee20b5e28e10e73a1df80

  - GREEN: #69DC9E
  - CREAM: #FCEAD1
  - OFF WHITE: #EFF1EA
  - ORANGE: #E59F71
  - ORANGE BROWN: #BA5A31
  - BROWN: #723215
*/


/*Nav bar styling that is used throughout the website*/
nav{
    /*Setting the background colour */
    background-color: #BA5A31;
    /*Adding padding to the nav bar, making it the correct height*/
    padding: 10px;
    /*Adding padding to the nav bar, making it the correct height and width*/
    padding-bottom: 70px;
    /*Setting the minimum width of the navigation bar*/
    min-width: 340px;
}

/*logo formatting that is used for all pages*/
#homelogo {
  /*Setting the background colour */
  background-color:;
  /*Ensuring the logo stays to the left, and correcting height of nav bar*/
  float: left;
  /*Positioning the logo 10px to the right, ie, 10 px away from right margin*/
  margin-left: 10px;
}

  /*Formatting for the tas used throughout our website*/
ul {
    /*Setting any content that overflows an elemts box ot hidden*/
    overflow: hidden;
}

/*Styling ofor the nav bar tabs*/
#tabs{
  /*Setting the background colour for the 'home', 'log in' and 'sign up' tabs*/
  background-color:#BA5A31;
  /*Ensuring the nav bar tabs are floated to the right-most side of the page*/
  float:right;
}

/*'home', 'log in' and 'sign up' link formatting*/
.navbar a {
  /*Ensuring the links are floated to the left - also ensures positioning is correct*/
  float: left;
  /*Setting the font size to 16px*/
  font-size: 16px;
  /*Ensuring the colour of the text is the correct colour, ie, white*/
  color: white;
  /*Ensuring that the text is centre aligned*/
  text-align: center;
  /*Adding padding to the text/links, ensuring they are positioned correctly*/
  padding: 20px 15px;
  /*Removing the underline underneath the links*/
  text-decoration: none;
}

/*Nav Bar Hover*/
.navbar a:hover, .dropdown:hover .dropbtn {
  /*Setting the background colour for the hover function*/
  background-color: #E59F71;
}

/*Page title container formatting*/
=======
/* Page CSS */

/*Page title formatting*/

#mainbody{
}

  h1 {
    text-align: center;
    color: #EFF1EA;
    font-weight: bold;
    font-size: 34px;
    background-color: #BA5A31;
    height: 50px;


    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;

    border: none;
    border-radius: 15px;
  }


  #grid_title {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    grid-template-rows: auto auto ;
    grid-gap: 0px;

    color: #EFF1EA;
    font-weight: bold;
    font-size: 28px;

    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;

    background-color: #69DC9E;
    border: none;
    border-radius: 15px 15px 0px 0px;
  }


  .grid-container_t{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;

    text-align: center;
    background-color:;

    border-radius: 5px;
    padding:10px;
    margin: 10px;
  }




  #grid_box{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    grid-template-rows: auto auto ;
    grid-gap: 0px;

    color: black;
    font-weight: bold;
    font-size: 20px;

    margin-bottom: 150px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;

    background-color: #EFF1EA;
    border: none;
    border-radius: 0px 0px 15px 15px;
  }


  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;

    background-color:;
    border-radius: 5px;
    padding:10px;
    margin: 10px;
  }

  p {
    color:black;
  }
