.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0px;
}

/* Create four equal columns that sits next to each other */
.column {
      /*border: 2px dashed green;*/
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0px;
}

.column img {
    /*border: 2px solid white;*/
    margin: 0px;
    vertical-align: middle;
    height: 200px;
    object-fit: cover;
/*
    max-height: 100%;
    max-width: 100%;
    height: 100px;*/
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


.cookiejar{

}
/*

.cookiejar{
  float: left;
  margin: auto;
  margin-bottom: 10px;
  padding: 0px;
  border: 0px;
}*/

.cookiejar{
  /*opacity: 0.8;*/
}

.cookiejar:hover{
  /*opacity: 1;*/
}

.lid {
  text-align: center;
  font-size: 24px;
  color: #EFF1EA;
  text-shadow: 2px 2px #5dbf8a;
  font-weight: bold;

  background-color: #69DC9E;
  margin: 0px 30px;
  padding: 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: 5px 0px 5px 0px;
  border-color: #4db57d;
  border-top-color: #7af4b2;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.5);

}
.container {
  position: relative;
  float: left;
  padding: 0px;
  text-align: center;
  background-color: black;
  border-radius: 30px 30px 15px 15px;
  overflow: hidden;
  border-style: solid;
  border-width: 5px;
  border-color: #EFF1EA;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.5);
}

.cookieimg{
  display: flex;
  float: left;
  width:33%;

  opacity: 1;
}
.cookieimg:hover{
  opacity: 0.7;
}

.selected{
  border-color: red;
}


#C2 .label {
  top:33.33%
}

#C1{
  width: 68.5%;
  float: left;
}
#C2{
  width: 30.5%;
  float: right;
}
#C3{
  width: 100%;
  float: left;
}
#C2 .cookieimg {
  width:50%; /* The width is 100%, when the viewport is 800px or smaller */
}



@media screen and (max-width:1200px) {
  #C1{
    width: 65%;
  }
  #C2{
    width: 33.5%;
  }
  #C3{
    width: 65%;
  }

  #C1 .cookieimg {
    width:50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C3 .cookieimg {
    width:50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C2 .cookieimg {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .label {
    top: 33.33%;
  }
  #C2 .label {
    top: 15.5%;
    padding: 10% 25%;
  }
  #mainbody{
    padding: 0px 5% 0px 5%;
  }
}
@media screen and (max-width:600px) {
  #C1{
    width: 100%;
  }
  #C2{
    width: 100%;
  }
  #C3{
    width: 100%;
  }
  #C1 .cookieimg {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C3 .cookieimg {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C2 .cookieimg {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .label {
    top: 15.5%;
    padding: 10% 25%;
  }
  #mainbody{
    padding: 0px;
  }
  #C1 .cookieimg + #C2 .cookieimg + #C3 .cookieimg{
    width:100; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
