/*Colour Scheme

  - GREEN: #69DC9E
  - CREAM: #FCEAD1
  - OFF WHITE: #EFF1EA
  - ORANGE: #E59F71
  - ORANGE BROWN: #BA5A31
  - BROWN: #723215
*/



/*Nav bar that is used throughout */
nav{
    background-color: #BA5A31;
    box-shadow: 1px 1px 1px 1px #888888;
    padding: 10px;
    padding-bottom: 70px;

    min-width: 392px;

}

/*logo formatting that is used for all pages*/
#homelogo {
  background-color:;
  float: left;
  margin-left: 10px;
}

/*tab formatting*/
ul {
    list-style-type: none;
    overflow: hidden;
}

/*tab formatting*/
#tabs{
  background-color:#BA5A31 ;
  float:right;
  margin: 0px;
  padding: 0px;
}


/*tab formatting*/
li a, .navbar button {
    display: block;
    color: #EFF1EA;
    text-align: center;
    padding: 15px ;
}

/*account button hover formatting colour*/
#navbutton:hover {
    background-color: #E59F71;
}

/*account button hover formatting colour*/
.active {
    background-color: #E59F71;
}



/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #E59F71;
  float: right;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px;
}



/* Add a background color to navbar links on hover */
.navbar a:hover   {
  background-color: #E59F71;
  border: none;
  border-radius: 15px
}
