

/*Colour Scheme

  - GREEN: #69DC9E
  - CREAM: #FCEAD1
  - OFF WHITE: #EFF1EA
  - ORANGE: #E59F71
  - ORANGE BROWN: #BA5A31
  - BROWN: #723215
*/

/* Main CSS */

/*Page title formatting*/


  h1 {
    text-align: center;
    color: #EFF1EA;
    font-weight: bold;
    font-size: 34px;

    background-color: #BA5A31;
    box-shadow: 1px 1px 1px 1px #888888;
    height: 50px;


    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;

    border: none;
    border-radius: 15px;
  }


  #grid_title {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    grid-template-rows: auto auto ;
    grid-gap: 0px;

    color: #EFF1EA;
    font-weight: bold;
    font-size: 28px;

    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;

    background-color: #69DC9E;
    box-shadow: 1px 1px 1px 1px #888888;
    border: none;
    border-radius: 15px 15px 0px 0px;
  }


  .grid-container_t{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;

    text-align: center;
    background-color:;

    border-radius: 5px;
    padding:10px;
    margin: 10px;
  }

  .grid-container_t:hover{
    background-color: #4CAD79;
    border-radius: 5px;
  }




  #grid_box{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    grid-template-rows: auto auto ;
    grid-gap: 0px;

    color: black;
    font-size: 20px;
    text-align: center;

    margin-bottom: 150px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;

    background-color: #EFF1EA;
    box-shadow: 1px 1px 1px 1px #888888;
    border: none;
    border-radius: 0px 0px 15px 15px;
  }


  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;

    background-color:;
    border-radius: 5px;
    padding:10px;
    margin: 10px;
  }



  p {
    color:black;
    text-align: center;
  }


#newaccount{
  color: #69DC9E
}

#newaccount:hover {
  text-decoration: underline;
  text-shadow: 1px 1px #4CAD79;
}
