
/*Colour Scheme

  - GREEN: #69DC9E
  - CREAM: #FCEAD1
  - OFF WHITE: #EFF1EA
  - ORANGE: #E59F71
  - ORANGE BROWN: #BA5A31
  - BROWN: #723215
*/


/*Searchbar*/

/*formatting for the searchbar outside*/
#search {
  background-color: #BA5A31;
  box-shadow: 1px 1px 1px 1px #888888;
  height: 50px;
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 15px;
  padding: 10px;
}

#submitbutton{
  background: url("../images/search_cookie.png");
  color: white;
  background-color: #BA5A31;
  border: none;
  border-radius: 5px;
  margin-left:5px;
}


/*helps to ensure the wesbite moves dynamically when changed size*/
@media screen and (max-width:600px) {
  #search{
    margin: 5px 0px 5px 0px;
  }
}


/*formatting for the search bar inside*/
#searchbar{
  background-color: #EFF1EA;
  padding: 10px;
  width: 100%;
  text-align: left;
  font-size:25px;
  border: none;
  border-radius: 5px;
}
