
/*Colour Scheme

  - GREEN: #69DC9E
  - CREAM: #FCEAD1
  - OFF WHITE: #EFF1EA
  - ORANGE: #E59F71
  - ORANGE BROWN: #BA5A31
  - BROWN: #723215
*/


/*Searchbar*/

/*formatting for the searchbar outside*/
#search {
  background-color: #BA5A31;
  box-shadow: 1px 1px 1px 1px #888888;
  height: 50px;
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 15px;
  padding: 10px;
}

#submitbutton{
  background: url("../images/search_cookie.png");
  color: white;
  background-color: #BA5A31;
  border: none;
  border-radius: 5px;
  margin-left:5px;
}


/*helps to ensure the wesbite moves dynamically when changed size*/
@media screen and (max-width:600px) {
  #search{
    margin: 5px 0px 5px 0px;
  }
}


/*formatting for the search bar inside*/
#searchbar{
  background-color: #EFF1EA;
  padding: 10px;
  width: 100%;
  text-align: left;
  font-size:25px;
  border: none;
  border-radius: 5px;
}


/*Filter Bar*/

#filter{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #BA5A31;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 12px;

    height: 50px;
    width: 100%;


}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #E59F71;
}


/*helps to ensure the wesbite moves dynamically when changed size*/
@media screen and (max-width:600px) {
  #filter{
    margin: 5px 0px 5px 0px;
  }
}



/*formatting for the filter bar outside
#filter {
  background-color: #BA5A31;
  height: 30px;
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  padding: 10px;
}

/*formatting for the filter bar inside
#filterbar{
  background-color: #EFF1EA;
  padding: 0px;
  width: 100%;
  text-align: left;
  font-size:18px;
  border-radius: 5px;
  padding: px;
}





  .dropdown .dropbtn {
    background-color: #EFF1EA;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}
*/
