
/*Colour Scheme

  - GREEN: #69DC9E
  - CREAM: #FCEAD1
  - OFF WHITE: #EFF1EA
  - ORANGE: #E59F71
  - ORANGE BROWN: #BA5A31
  - BROWN: #723215
*/

/* saved Page CSS */ 

/*container for saved cookies and jars*/
#saved {
  background-color: #BA5A31;
  height: 50px;
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;

  border-radius: 15px;
  padding: 10px;
}

/*text formatting for the main three titles*/
#saved-title {
  color: #EFF1EA;
  padding: 0px;
  margin: 10px;
  text-align: center;
  font-size:25px;
}

/*containers for saved cookies, and saved jars*/
#saved2 {
  background-color: #BA5A31;
  height: 50px;
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5px;
  display: flex;
  justify-content: center;

  border-radius: 15px;
  padding: 5px;
}

/* Footer */

/*footer formatting*/
#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #BA5A31;
   color: white;
   text-align: center;
   padding: 10px;
}

/*content of the footer formatting*/
#footer_content {
  color: #EFF1EA;
  padding: 5px;
  margin: auto;
  text-align: center;
  font-size:18px;
  padding: 10px;
}

/*first footer link formatting*/
#footer_link1 {
  text-align: left;
  color: #EFF1EA;
  font-size:18px;

}

/*second footer link formatting*/
#footer_link2 {
  text-align: right;
  color: #EFF1EA;
  font-size:18px;

}

/*MAINBODY*/

#mainbody{
  /*background-color: yellow;*/
  /*margin-top: 100px;*/
  margin 25%;
  padding: 0px 10% 0px 10%;
}

/*COOKIE JAR CSS*//*
section.cookiejar{
  width: 59%
}
aside{
  width: 38%;
  float: right;
}*/
.cookiejar{
  float: left;
  margin: auto;
  margin-bottom: 10px;
  padding: 0px;
  border: 0px;
}

.cookiejar:hover{
  opacity: 0.7;
}

.lid{

  text-align: center;
  font-size: 24px;
  color: #EFF1EA;
  text-shadow: 2px 2px #5dbf8a;
  font-weight: bold;

  background-color: #69DC9E;
  margin: 0px 30px;
  padding: 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: 5px 0px 5px 0px;
  border-color: #4db57d;
  border-top-color: #7af4b2;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.5);

}



.container {
  position: relative;
  float: left;
  padding: 0px;
  text-align: center;
  background-color: black;
  border-radius: 30px 30px 15px 15px;
  overflow: hidden;
  border-style: solid;
  border-width: 5px;
  border-color: #EFF1EA;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.5);
}
.cookieimg{
  display: flex;
  float: left;
  width:33%;


}


#C2 .label {
  top:33.33%
}

#C1{
  width: 68.5%;
  float: left;
}
#C2{
  width: 30.5%;
  float: right;
}
#C3{
  width: 100%;
  float: left;
}
#C2 .cookieimg {
  width:50%; /* The width is 100%, when the viewport is 800px or smaller */
}



@media screen and (max-width:1200px) {
  #C1{
    width: 65%;
  }
  #C2{
    width: 33.5%;
  }
  #C3{
    width: 65%;
  }

  #C1 .cookieimg {
    width:50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C3 .cookieimg {
    width:50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C2 .cookieimg {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .label {
    top: 33.33%;
  }
  #C2 .label {
    top: 15.5%;
    padding: 10% 25%;
  }
  #mainbody{
    padding: 0px 5% 0px 5%;
  }
}
@media screen and (max-width:600px) {
  #C1{
    width: 100%;
  }
  #C2{
    width: 100%;
  }
  #C3{
    width: 100%;
  }
  #C1 .cookieimg {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C3 .cookieimg {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #C2 .cookieimg {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .label {
    top: 15.5%;
    padding: 10% 25%;
  }
  #mainbody{
    padding: 0px;
  }
  #C1 .cookieimg + #C2 .cookieimg + #C3 .cookieimg{
    width:100; /* The width is 100%, when the viewport is 800px or smaller */
  }
}




  #mainbody{
    margin-left: 0px;
    margin-right: 0px;
  }
}
