<!doctype html>
<html>

	<head>
    <% include ../partials/head %>
		<title>Cookie Jar</title>

	</head>



	<body>

    <header>
			<nav>
			  <!---putting the logo image on the filter page--->
			  <section id="homelogo">
			    <a href="/" id = "homelogo" name="submit" alt="submit">
			    <img src="../images/logo_cookie.png" height="120px" alt="submit" ></a>
			  </section>

			  <!---nav bar code, with dropdown menu--->
			  <div class="navbar">
			    <section id = "tabs">
			      <a id="home" href="/">Home</a>
			      <a id="saved" href="/saved">Saved</a>
			      <a id="account" href="/account">Account</a>
			      <a id="logoutbutton" href="/logout">Logout</a>
			  </div>
			</nav>
    </header>



		<main id="mainbody">


			<h1>account page</h1>

		<section id="grid_title">
			<div class="grid-container_t">
						<div><a href="#">edit account</a></div>
			</div>
			<div class="grid-container_t">
						<div><a href="#">delete account</a></div>
			</div>
		</section>


			<section id="grid_box">
				<div class="grid-container">
							<p>Here you can edit your account's username and profile picture.</p>
				</div>
				<div class="grid-container">
							<p>Here you can delete your account from cookie jar.</p>
				</div>
			</section>


		</main>



		<!--footer section-->


    <footer>
      <% include ../partials/footer %>
    </footer>


	</body>

	<script src="../js/imgur.js"></script>
	<script src="../js/reddit.js"></script>

</html>
