<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
  <title>Edit account - Cookie Jar</title>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <main id="mainbody">
    <div class='box'>

      <!-- form with entry box for each bit of inomfrtaion we want from our user. -->
      <h3>Modify your profile</h3>
      <form action="/edit" method="POST">
        <label>Name</label>
        <input type="text" placeholder="<%= user.name %>" name="first">
        <input type="text" placeholder="last"  name="last">
      </br><label>Login Details</label>
        <input type="text" placeholder="username"     name="username">
        <input type="password" placeholder="password"  name="password">
      </br><label>Extra Details</label>
        <input type="email" placeholder="me@example.com"    name="email">
        <input type="datetime" placeholder="date of birth"    name="dob">
        </br><button type="submit">Submit</button>
      </form>


    </div>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
