<!doctype html>
<html>

	<head>
    <% include ../partials/head %>
		<title>Home - Cookie Jar</title>

	</head>



	<body>

    <header>
      <% include ../partials/header %>
    </header>

		<!---this code implements the cookie image and text search bar--->
		<section id="search">
				<input type ="text" id="searchbar" name="searchbar" placeholder=" search here " onsubmit="" autocomplete="off"></input>
				<input type="image" img src="../images/search_cookie.png" height="50px" alt="search" id="submitbutton">
			</section>



			<main id="mainbody">
				<section class="cookiejar "href="#" id="C1">
					<p class="lid"> imgur </p>
					<div class="container" id=imgurContainer>
						<div class="row">
		  				<div class="column">
								<!--<h1 class="label" id=contents>cookie jar 1</h1>-->
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							</div>
							<div class="column">
								<!--<h1 class="label" id=contents>cookie jar 1</h1>-->
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							</div>
							<div class="column">
								<!--<h1 class="label" id=contents>cookie jar 1</h1>-->
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							</div>
							<div class="column">
								<!--<h1 class="label" id=contents>cookie jar 1</h1>-->
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							</div>
					</div>
				</section>


				<aside class="cookiejar" href="#" id="C2">
					<p class="lid">reddit</p>
					<div class="container" id=redditContainer>
						<div class="row">
		  				<div class="column">
								<!--<h1 class="label" id=contents>cookie jar 1</h1>-->
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							</div>
							<div class="column">
								<!--<h1 class="label" id=contents>cookie jar 1</h1>-->
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							</div>
							<div class="column">
								<!--<h1 class="label" id=contents>cookie jar 1</h1>-->
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							</div>
							<div class="column">
								<!--<h1 class="label" id=contents>cookie jar 1</h1>-->
	              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
								<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							</div>
					</div>
				</section>

			</main>



		<!--footer section-->


    <footer>
      <% include ../partials/footer %>
    </footer>


	</body>

	<script src="../js/imgur.js"></script>
	<script src="../js/reddit.js"></script>

</html>
