<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
  <title>Login - Cookie Jar</title>
</head>


<body>

  <main id="mainbody">

      		<section id="grid_title">
      			<div class="grid-container_t">
      						<h2>log in</h2>
      			</div>
      		</section>

        <section id="grid_box">
            <div class="grid-container">
              <form action="/dologin" method="POST">
                <input type="text" placeholder="username" name="username">
                <input type="password" placeholder="password" name="password">

              <div class="grid-container">
                <button type="submit">Submit</button>
              </div>

              </form>
            </div>


    				<div class="grid-container">
    						<h3>Don't have an account? <a id="newaccount" href="/newaccount">Create one here!</a></h3>
            </div>
        </section>

  </main>

</body>

</html>
