<!DOCTYPE html>
<html>

<header>
  <% include ../partials/head %>
</header>

<body>


  <main id="mainbody">
    <div class='box'>

      <!-- form with entry box for each bit of inomfrtaion we want from our user. -->
      <h3>Create your profile</h3>
      <form action="/createaccount" method="POST">
        <label>Name</label>
        <input type="text" placeholder="first" name="first">
        <input type="text" placeholder="last"  name="last">
      </br><label>Login Details</label>
        <input type="text" placeholder="username"     name="username">
        <input type="password" placeholder="password"  name="password">
      </br><label>Extra Details</label>
        <input type="email" placeholder="me@example.com"    name="email">
        <input type="datetime" placeholder="date of birth"    name="dob">
        </br><button type="submit">Submit</button>
      </form>



    </div>
  </main>

</body>

</html>
