<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
  <title>create account: cookie jar</title>
</head>

<body>


  <main id="mainbody">

      <section id="grid_title">
        <div class="grid-container">
              <h3> create an account </h3>
        </div>
      </section>

    <section id="grid_box">
      <form action="/createaccount" method="POST">

          <div class="grid-container">
              <label> first name </label>
              <input type="text" placeholder=" first name " name="first">
              <label> surname </label>
              <input type="text" placeholder=" surname "  name="last">
              <label> username </label>
              <input type="text" placeholder=" username " name="username">
              <label> password </label>
              <input type="password" placeholder=" password " name="password">
              <label> email address </label>
              <input type="email" placeholder=" email@example.com " name="email">
              <label> date of birth </label>
              <input type="datetime" placeholder=" date of birth " name="dob">

              <div class="grid-container">
                <button type="submit">Submit</button>
              </div>
          </div>
      </form>

  </main>



    </div>
  </main>

</body>

</html>
