<!doctype html>
<html>

	<head>
		<% include ../partials/head %>
		<title>saved: cookie jar</title>
	</head>



	<body>

    <header>
      <% include ../partials/header %>
    </header>


		<main id="mainbody">

			<h1>saved page</h1>


			<section class="cookiejar "href="#" id="C1">
				<p class="lid"> saved: imgur </p>
				<div class="container" id=imgurContainer>
					<div class="row">
	  				<div class="column">
							<!--<h1 class="label" id=contents>cookie jar 1</h1>-->
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
						</div>
						<div class="column">
							<!--<h1 class="label" id=contents>cookie jar 1</h1>-->
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
						</div>
						<div class="column">
							<!--<h1 class="label" id=contents>cookie jar 1</h1>-->
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
						</div>
						<div class="column">
							<!--<h1 class="label" id=contents>cookie jar 1</h1>-->
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
						</div>
				</div>
			</section>


			<aside class="cookiejar" href="#" id="C2">
				<p class="lid">saved: reddit </p>
				<div class="container" id=redditContainer>
					<div class="row">
	  				<div class="column">
							<!--<h1 class="label" id=contents>cookie jar 1</h1>-->
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
						</div>
						<div class="column">
							<!--<h1 class="label" id=contents>cookie jar 1</h1>-->
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
						</div>
						<div class="column">
							<!--<h1 class="label" id=contents>cookie jar 1</h1>-->
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
						</div>
						<div class="column">
							<!--<h1 class="label" id=contents>cookie jar 1</h1>-->
              <img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
							<img src="../images/cookie.jpg" alt="cookie1" class="cookieimg" style="width:100%">
						</div>
				</div>
			</section>

			<script>
				function delmessage() {
					console.log("workin");/*
					if (confirm("Are you sure you want to delete your account ?")) {
							window.location.href="/saved";
					} else {
							console.log("return");
					}*/
				}
		</script>

		</main>



    <!--footer section-->
    <footer>
      <% include ../partials/footer %>
    </footer>


	</body>

	<script src="../js/imgur.js"></script>
	<script src="../js/reddit.js"></script>

</html>
